---


import PageLayout from "@/layouts/Base";


const meta = {
	title: "About",
	description: "About page of Omar Facundo",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title text-blue-600">About</h1>
		<p class="text-green-300">
			Hi, I’m Omar Facundo. I’m a software engineer and a web developer. I’m currently learning about web development and software engineering.
		</p>
		<img src="https://media2.giphy.com/media/qgQUggAC3Pfv687qPC/giphy.gif?cid=ecf05e4735w9abp4flx7oe3o7tdpjwn1u12hsa3yjjfdml1w&ep=v1_gifs_search&rid=giphy.gif&ct=g" alt="">
		<div class="flex justify-center">
			
		</div>
		
	</div>
</PageLayout>
